*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks
release.keystore
/ci/out/
__pycache__/
release.keystore.password.txt
release.keystore.b64
